*{
    margin:0;
    font-family: 'Work Sans', sans-serif;
}
.banner{
  position: relative;  
  

}
.banner img{
    width: 1600px;
    height: 809px;
    left: 1600px;
    top: 0px;
}
.banner-text{
    position: absolute;
    width: 525px;
    height: 228px;
    right: 845px;
    top: 216px
}
.banner-tile{
    font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: left;
  width: 525px;
  height: 228px;

}
.banner-subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;
    
    text-align: left;
    
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
}
.contain{
     display: flex;
     gap: 86px;
     margin-top: 130px;
     margin-right: 320;
     width: 1080px;
     height: 780px;
     margin-bottom: 130px;

}

.contain img{
    
width: 451px;
height: 900px;
margin-left: 277px;
background: rgba(241, 91, 34, 0.2);
background-position: 527px;



}
.contain-info{
    width: 416px;
height: 413px;

margin-top: 350px;

}  
.contain-title{
    width: 288px;
    height: 94px;
    font-weight: 700;
font-size: 40px;
color: #151414;
margin-bottom: 37px;
}
.contain-subtitle{
    width: 416px;
    height: 104px;
    font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;
margin-bottom: 16px;
}
.contain-info-ist{
    width: 349px;
height: 162px;
margin-bottom: 8px;
}
.plan{
    width: 1141px;
    height: 500px;
    margin-left: 330px;
    margin-top: 155px;
    margin-bottom: 80px;
    
}

.skill-container{
    width: 1141px;
    height: 299.96px;
    left: 200px;
display: flex;
   gap: 86px;
    
}
.skill-container .skill img{
    width: 92.96px;
height: 92.96px;
}
   .section-title{
    font-size:40px;
    width: 179px;
    height: 47px;
    margin-bottom: 50px;
    margin-left: 425px;
   }
.skill{

    width: 230px;
    height: 200px;
    
}
.skill-title{
    font-size: 25px;
    line-height: 40px;
    width: 270px;



}
.skill-subtitle{
    font-size: 25px;
    color: #737272;
}
  /* gradient info */
.pera{
    margin-left: 330px;
    margin-bottom: 100px;
    position: relative;
    
}
.pera-text{
    text-align: center;
    
}
.pera img{ 
    width: 1140px;
    height: 300px;
    
}
.pera-title{
    
    color:black
    font-size: 35px;
}
  .btn-secondary{
    color: #FFFFFF;
    font-weight: 600px;
    font-size: 20px;
    border: 0;
    padding: 12px 22px;
    margin-top: 8px;
    height: 44px;
    border-radius: 5px;
    background-color: #FD6E0A;
  }

     .contact{
        display: flex;
        width: 700px;
        height: 333px;
         gap: 300px;
         
         text-align: center;
     }
     .contact-info{
        margin-left: 333px;
     }
      .contact.title{
         margin-bottom:4px;
         width: 148px;
height: 53px;
      }
     .contact-subtitle{
        width: 444px;
        height: 78px;
     }
        
     


